ERIVOY_SRS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 (http://www.altova.com) by Kian Tan (MY Solutions B.V.) -->
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Peter Oudenes (Ministerie van Verkeer en Waterstaat) on behalf of the ERI-secretariat -->
<!-- ============================================================================================== -->
<!-- ERIVOYT is the XML Route planning based on the IFTSAI  PROT1.0 edifact msg. -->
<!-- -->
<!-- Journaal, Releasenotes: -->
<!-- -->
<!--  v0.0 PFO  	2011: Initial version   -->
<!--  v0.1 ERI 2012? -->
<!--  v0.2 MvD, KT, May 2013-->
<!--       Changed element <GenerealInformationAboutTheVoyage> into <GeneralInformation> and added child elements-->
<!--       Modified several enumerations-->
<!--       Fixed several copy-paste errors-->
<!--       Elaborated on some datetime elements -->
<!--       Elaborated on NameAddress-->
<!--       Extended TransportDimensionsType-->
<!--        -->
<!--       -->
<!--       -->
<!--  v0.4 MvD, KT, Feb 2013-->
<!--      Made <ContactInformation> optional in line with Edifact definitions -->
<!--  -->
<!-- ============================================================================================== -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.risexpertgroups.org/IFTSAI1.0" xmlns:altova="http://www.altova.com/xml-schema-extensions" targetNamespace="http://www.risexpertgroups.org/IFTSAI1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="ERIVOY">
		<xs:annotation>
			<xs:documentation>ERI Voyage  bases the EDIFACT IFTSAI 1.0</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MessageId" type="MessageIdType"/>
				<xs:element name="EDIMapping">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Syntax">
								<xs:annotation>
									<xs:documentation>UNB/S0001/0001</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="UNOC"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="SyntaxVersion">
								<xs:annotation>
									<xs:documentation>UNB/S001/0002</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="MessageType">
								<xs:annotation>
									<xs:documentation>UNH/S009/0065</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="IFTSAI"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="MessageVersion">
								<xs:annotation>
									<xs:documentation>UNH/S009/0052</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="D"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="MessageRelease">
								<xs:annotation>
									<xs:documentation>UNH/S009/0054</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="04B"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="MessageControllingAgency">
								<xs:annotation>
									<xs:documentation>UNH/S009/0051</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="UN"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="AssociationAssignedCode">
								<xs:annotation>
									<xs:documentation>UNH/S009/0057</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="6"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PrivacyStatement" minOccurs="0">
					<xs:annotation>
						<xs:documentation>No representation in Edifact</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="1"/>
							<xs:enumeration value="Y"/>
							<xs:enumeration value="N"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="MessageRef" minOccurs="0">
					<xs:annotation>
						<xs:documentation>RFF/C506/1154Reference to previous message</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="35"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="VoyageInformation">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DocumentIssueDate" type="xs:dateTime"/>
							<xs:element name="SafetyExplanation" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Signalling" minOccurs="0">
											<xs:annotation>
												<xs:documentation>FTX segm grp 4</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="1"/>
													<xs:enumeration value="0"/>
													<xs:enumeration value="1"/>
													<xs:enumeration value="2"/>
													<xs:enumeration value="3"/>
													<xs:enumeration value="B"/>
													<xs:enumeration value="V"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PersonsOnBoard" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Total number of persons on board. Crew and Pax.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:minInclusive value="0000"/>
													<xs:maxInclusive value="9999"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="AnimalsOnBoard" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:minInclusive value="0000"/>
													<xs:maxInclusive value="9999"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PersonsInTransit" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:minInclusive value="0000"/>
													<xs:maxInclusive value="9999"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="RoutingInformation" minOccurs="0" maxOccurs="4">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="StatusCode">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="PLA"/>
													<xs:enumeration value="NAV"/>
													<xs:enumeration value="CAN"/>
													<xs:enumeration value="GIV"/>
													<xs:enumeration value="MOO"/>
													<xs:enumeration value="UND"/>
													<xs:enumeration value="ARR"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="GeneralInformation" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="512"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="AdditionalInformation" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="512"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="CargoInformation" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Subject" maxOccurs="5">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="InformationCode1" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="DGN"/>
																<xs:enumeration value="ACB"/>
																<xs:enumeration value="DGY"/>
																<xs:enumeration value="NCC"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="InformationCode2" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="CGS"/>
																<xs:enumeration value="0"/>
																<xs:enumeration value="1"/>
																<xs:enumeration value="2"/>
																<xs:enumeration value="3"/>
																<xs:enumeration value="V"/>
																<xs:enumeration value="B"/>
																<xs:enumeration value="WEX"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="AdditionalInformation" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="512"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="SubjectIndicator">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="ACB"/>
															<xs:enumeration value="HAZ"/>
															<xs:enumeration value="AAA"/>
															<xs:enumeration value="WAS"/>
															<xs:enumeration value="NON"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="NavigationRegime" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ActivePeriod" type="xs:string" minOccurs="0"/>
										<xs:element name="SailingRegime" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="A1"/>
													<xs:enumeration value="A2"/>
													<xs:enumeration value="B"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NonWorkingDays" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:appinfo>
													<altova:exampleValues>
														<altova:example value="MO-DI-WE"/>
														<altova:example value="MO"/>
													</altova:exampleValues>
												</xs:appinfo>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="TestScenarioRef" minOccurs="0">
					<xs:annotation>
						<xs:documentation>n.a.</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="35"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Transport">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TransportDetails">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="VoyageNo">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="17"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="TransportMode">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="1"/>
													<xs:enumeration value="1"/>
													<xs:enumeration value="8"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="TransportMeans">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Vessel" type="VesselType"/>
										<xs:element name="VesselName">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="35"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Nationality">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="2"/>
													<xs:maxLength value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="StageQualifier" type="xs:string" use="required" fixed="20"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="TransportDimensions" type="TransportDimensionsType" minOccurs="0"/>
							<xs:element name="TransportLocations">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PlaceOfDeparture" type="LocationType"/>
										<xs:element name="ATD" type="xs:dateTime" minOccurs="0"/>
										<xs:element name="RoutePoint" minOccurs="0" maxOccurs="999">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Location">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="RIS-index" type="LocationType"/>
																<xs:element name="Coordinates" minOccurs="0">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Longitude" type="xs:int"/>
																			<xs:element name="Latitude" type="xs:int"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="DateTime" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="ActualTimeOfArrival" type="xs:dateTime" minOccurs="0"/>
																<xs:element name="EstimatedTimeOfArrival" type="xs:dateTime" minOccurs="0"/>
																<xs:element name="ActualTimeOfDeparture" type="xs:dateTime" minOccurs="0"/>
																<xs:element name="ArrivalTimeAtWaypoint" type="xs:dateTime" minOccurs="0"/>
																<xs:element name="ActivityPeriod" type="xs:dateTime" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="OnDemand" minOccurs="0">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="1"/>
																<xs:enumeration value="1"/>
																<xs:enumeration value="2"/>
																<xs:enumeration value="3"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="SequenceIdentifier" use="required">
													<xs:simpleType>
														<xs:restriction base="xs:integer">
															<xs:maxInclusive value="999"/>
															<xs:minInclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="LocationQualifier" use="required">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="3"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="PortOfDestination" type="LocationType"/>
										<xs:element name="ETA" type="xs:dateTime" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="NameAddress">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="MessageSender" type="NameAddressType" minOccurs="0"/>
							<xs:element name="CarriersAgent" type="NameAddressType" minOccurs="0"/>
							<xs:element name="VesselCaptain" type="NameAddressType" minOccurs="0"/>
							<xs:element name="AuthorisedOfficial" type="NameAddressType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Barges">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Barge" maxOccurs="19">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BargeId" type="VesselType"/>
										<xs:element name="BargeType">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="4"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="BargeName">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="35"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="EquipmentType">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3"/>
													<xs:enumeration value="BRY"/>
													<xs:enumeration value="BRN"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="BargeDimensions" type="TransportDimensionsType" minOccurs="0">
											<xs:annotation>
												<xs:documentation>n.a.</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="VersionMajor" type="xs:integer" use="required"/>
			<xs:attribute name="VersionMinor" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="MessageIdType">
		<xs:sequence>
			<xs:element name="SenderId">
				<xs:annotation>
					<xs:documentation>UNB/S002/0004</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ReceiverId">
				<xs:annotation>
					<xs:documentation>UNB/S003/010</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="25"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GenerationDateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>UNB/S004/0017and0018</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AckRequest" minOccurs="0">
				<xs:annotation>
					<xs:documentation>BGM/4343</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TestIndicator" minOccurs="0">
				<xs:annotation>
					<xs:documentation>UNB/0035</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MessageType">
				<xs:annotation>
					<xs:documentation>BGM/C002/1001</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
						<xs:enumeration value="404"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MessageNo">
				<xs:annotation>
					<xs:documentation>UNB/0020</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MessageFunction">
				<xs:annotation>
					<xs:documentation>BGM/1225      1 = Cancellation 9 = new message 5 = modification 8=update</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:enumeration value="1"/>
						<xs:enumeration value="5"/>
						<xs:enumeration value="8"/>
						<xs:enumeration value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CommonDenominator" minOccurs="0">
				<xs:annotation>
					<xs:documentation>UNH/S009/0068          RefNo to group several msgs of same journey</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VesselType">
		<xs:sequence>
			<xs:element name="VesselId">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="7"/>
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VesselIDType">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"/>
						<xs:enumeration value="OFS"/>
						<xs:enumeration value="ERN"/>
						<xs:enumeration value="IMO"/>
						<xs:enumeration value="ENI"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LocationType">
		<xs:sequence minOccurs="0">
			<xs:element name="Locode">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LocationName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="17"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TerminalCode" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TerminalName" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="70"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FairwaySectionCode" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FairwayHectometre" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameAddressType">
		<xs:sequence>
			<xs:element name="PartyId" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PartyName">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Street" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="City" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PostalCode" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Country" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="2"/>
						<xs:maxLength value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Contact" type="ContactType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CommsContactType">
		<xs:sequence>
			<xs:element name="CommsNo">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="70"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CommsChannel">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
						<xs:enumeration value="TE"/>
						<xs:enumeration value="FX"/>
						<xs:enumeration value="EM"/>
						<xs:enumeration value="EI"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransportDimensionsType">
		<xs:sequence>
			<xs:element name="GrossTonnage" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:decimal">
							<xs:attribute name="UnitQualifier">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="TNE"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="NettoTonnage" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:decimal">
							<xs:attribute name="UnitQualifier">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="TNE"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Length" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:decimal">
							<xs:attribute name="UnitQualifier">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="CMT"/>
										<xs:enumeration value="MTR"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Width" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:decimal">
							<xs:attribute name="UnitQualifier">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="CMT"/>
										<xs:enumeration value="MTR"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Draught" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:decimal">
							<xs:attribute name="UnitQualifier">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="MTR"/>
										<xs:enumeration value="CMT"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Airdraft" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:decimal">
							<xs:attribute name="UnitQualifier">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="CMT"/>
										<xs:enumeration value="MTR"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="AverageSpeed" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:decimal">
							<xs:attribute name="UnitQualifier">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="KNO"/>
										<xs:enumeration value="KMU"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactType">
		<xs:sequence>
			<xs:element name="ContactInformation" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CommsContact" type="CommsContactType" minOccurs="0" maxOccurs="4"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
